:root {
    --primaryColor: #000000;
    --secondaryColor: #FFFFFF;
    --border: 1px solid var(--primaryColor);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

*::selection {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

body {
    font-family: 'Rubik', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

/* Utils */
.container {
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 60%;
    }
}

.text-center {
    text-align: center;
}

.btn {
    border: var(--border);
    border-radius: 40px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-weight: bold;
    padding: 10px 40px;
    transition: all .3s ease;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    cursor: pointer;
}

/* Header */
.header {
    background-color: var(--primaryColor);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
}

.navbar a {
    color: var(--secondaryColor);
}

.nav-brand {
    font-size: 1.5rem;
}

.nav-link {
    display: none;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }

    .nav-link {
        display: block;
        margin-right: 20px;
    }

    .nav-link:last-child {
        margin-right: 0px;
    }

    .nav-button {
        display: none;
    }
}

/* Hero */
.hero {
    align-items: center;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}

@media (min-width: 768px) {
    .hero {
        height: 100vh;
    }
}

.hero__img {
    width: 100px;
}

.hero__social {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.hero__social>a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.hero__social>a:last-child {
    margin-right: 0px;
}

/* About */
@media (min-width: 768px) {
    .about {
        display: flex;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        flex: 0.4;
        justify-content: space-between;
        margin-right: 20px;
    }

    .about-info p {
        margin-top: 20px;
    }

    .about-skills {
        flex: 0.6;
    }
}

@media (min-width: 1024px) {
    .about-info {
        flex: 0.5;
    }

    .about-skills {
        flex: 0.5;
    }
}

.section {
    margin-top: 50px;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section-description {
    font-size: 1rem;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .about-skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

.skill {
    margin-top: 20px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.progress {
    border: var(--border);
    border-radius: 10px;
    height: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.progress-bar {
    background-color: var(--primaryColor);
    height: 10px;
    width: 70%;
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

.projects-item {
    border: var(--border);
    min-height: 300px;
    position: relative;
}

.projects-item:first-child {
    border-top: var(--border);
}

.projects-item:hover>.project-more {
    height: 100%;
}

.project-info {
    background-image: url('../assets/pokedex-ss.png');
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    display: grid;
    font-size: 1.5rem;
    font-weight: bold;
    height: 100%;
    position: absolute;
    place-content: center;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.project-info::before {
    background-color: rgba(0, 0, 0, .6);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.project-more {
    align-items: center;
    background-color: var(--primaryColor);
    display: flex;
    height: 0px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: all .3s ease;
    z-index: 3;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.project-more>.btn {
    border: 1px solid var(--secondaryColor);
}

/* Contact */
@media (min-width: 768px) {
    .contact {
        display: flex;
    }

    .contact>p {
        flex: 0.4;
        margin-top: 20px;
    }

    .contact>form {
        flex: 0.6;
    }
}

@media (min-width: 1024px) {
    .contact>p {
        flex: 0.5;
        margin-top: 20px;
    }

    .contact>form {
        flex: 0.5;
    }
}

.contact-mailto {
    color: var(--primaryColor);
    text-decoration: underline;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.contact-mailto:hover {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

.contact-form {
    margin-top: 20px;
}

.contact-input {
    border: var(--border);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    resize: none;
}

.contact-input:focus {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

/* Footer */
.footer {
    align-items: center;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    height: 70px;
}